<template name="admin_nav">
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
      <a class="navbar-brand" href="#">
        <img alt="Ridge Top" src="/img/logo.png">
      </a>
    </div>
     <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!--<li><a href="{{pathFor 'a-home'}}"><i class="fa fa-tachometer"></i> Home</a></li>
          <li><a href="{{pathFor 'a-qc'}}"><i class="fa fa-bolt"></i> QC</a></li>-->
          
          
          
        </ul>
         <ul class="nav navbar-nav navbar-right">
           
              <li style="color:#fff;"></li>
    
              <li>
                <a href="/signout"><button type="button" class="btn-sm btn-orange navbar-btn"><i class="fa fa-lock"></i> Sign Out</button></a>

              </li>
            
        </ul>
        
      </div>
  </div>
</nav>
</template>







