<template name="qcMsgModal">
	<div id="empModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

   
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title">Choose work role or choose to be a lazy bastard</h4>
      </div>
      <div class="modal-body">
       		 <div class="row">
        
        	<div style="float:none; margin: 0 auto;" class="col-lg-4">
    
	            <div class="btn-group" data-toggle="buttons">
	                <label class="btn btn-default">
	                    <input type="radio" id="sketch" name="role" value="1" /> Sketch
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio" id="qc" name="role" value="2" /> QC
	                </label> 
	                
	            </div>
        	</div>
    	</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>

  </div>
</div>
</template>