<template name="navigation">


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div style="margin-top:5px;" class="navbar-header">
       
      <a class="navbar-brand" href="{{pathFor 'home'}}">
        <img alt="Ridge Top" src="/img/logo.png">
      </a>
    </div>
     <div>
        <ul class="nav navbar-nav">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
         <ul class="nav navbar-nav navbar-right">
           
          <li><a href="/signin"><button type="button" class="btn btn-orange btn-outline">Sign in</button></a></li>
            
        </ul>
        
      </div>
  </div>
</nav>

</template>
