<template name="register">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form class="register-form">
				<div style="border:2px solid #040e1b;" class="panel panel-info">
					<div class="panel-heading">

						<h2> <span style="color:#fff;"><span class="glyphicon glyphicon-log-in"></span> Quick Registration </span></h2><h4><span style="color:#90d0fb;line-height:125%;">Why register? Registration gives you access to easy ordering and instant updates on the status of your diagrams. </span></h4>
						<span style="color:#fff;">Already have an account? </span><a href="/signin"><span style="color:#fff;"><strong>Sign In</strong></span></a>
					</div>
					<div class="panel-body">
					<div class="form-group col-sm-6">
							<label class="plain">First Name</label>
							<input type="text" class="form-control plain" id="f_name"/>
						</div>
						<div class="form-group col-sm-6">
							<label class="plain">Last Name</label>
							<input type="text" class="form-control plain" id="l_name"/>
						</div>
						<div class="form-group col-sm-12">
							<label class="plain">Phone</label>
							<input type="text" class="form-control plain" id="phone"/>
						</div>
						<div class="form-group col-sm-12">
							<label class="plain">Email</label>
							<input type="text" class="form-control plain" id="email"/>
						</div>
						<div class="form-group col-sm-12">
							<label class="plain">Password</label>
							<input type="password" placeholder="6 or more characters" class="form-control plain" id="password"/>
						</div>
						<div class="form-group col-sm-12">
							<label class="plain">Confirm Password</label>
							<input type="password" class="form-control plain" id="password2"/>
						</div>
					</div>
					<div style="background-color:#040e1b; text-align:center;" class="panel-footer">
						<div style="margin: 0 auto;"><button type="submit" class="btn btn-ltBlue btn-outline">Register</button></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>