

<body>
  {{renderPage}}
</body>
  <template name="emp_layout">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {{> emp_nav}}
        </div>
      </div>
      <span style="display:block; margin-top: 100px;">
      <div class="row">
        <div class="col-md-12">
         {{> sAlert}}
            
        </div>
      </div>
      
         <div class="row">
      <div class="col-md-12">
         {{> yield}}
         
         </div>
          </div>
       
      </span>
    </div>
    {{> e_footer}}
  </template>
