<template name="mapCanvas">
   
    <form id="mapsubmit" action="">
        <div style="margin-bottom: 5px;" class="row">
          <div class="col-md-10">
            <input style="border:2px solid #cc453a;" class="form-control" id="address" placeholder="Enter full address" type="text">
          </div>
          <div class="col-md-2">
              <span style="margin-left: -15px;"><button type="submit" class="btn btn-orangeltbg btn-md"><i class="fa fa-search fa-lg"></i></button></span>
          </div>
        </div>
    </form>
    <div id="map-canvas" class="map-canvas"></div>
   
</template>