<template name="new_order">
	
	<div class="row">
				<div style="" class="col-md-10">
					
						<div style="margin:0px; padding:0px;" class="panel panel-info">
						<div style="padding:5px;" class="panel-heading"> 
								<span style="color:#fff; font-size:large;">New Diagram <i class="fa fa-chevron-right"></i> Price: ${{total}}</span>
				
							</div>
							<div style="" class="panel-body"><!--main panel -->
							

								<div style="" class="form-group col-lg-8"><!-- 5 column area -->
									<div style="margin-bottom: 10px;" class="row">

										 <div class="map-tip">
											 <strong>Enter address. Search. Place marker on roof.</strong>
										</div>
									</div>
								
									<div class="row">

										 {{> mapCanvas}}
										 <div class="map-tip">
											 {{lat}} <i class="fa fa-compass fa-lg"></i> {{long}} 
										</div>
										{{#if mapMessage}}
										<span style="color:#cc453a;"><h4><i class="fa fa-map-marker"></i> Please make sure map marker is precisely placed on building roof.</h4></span>
										{{/if}}
									</div>
									<div class="row">
										<div class="form-group col-md-12">
										<div style="padding: 5px; float:left; display:block;"><span style="color:#333; font-size:large;">Add up to 5 images: </span></div>
										{{> custImgUploads}}
										</div>
									</div>

								</div>

								<div class="form-group col-md-4"><!-- 3 column area -->
								
									<div style="margin-bottom:0px;" class="row">
										<div class="form-group col-md-6">
											<div style="margin-bottom:0px;" class="panel panel-default">
												<div class="map-tip">
													Order ETA
												</div>

									  			<div class="panel-body">
									  				<div class="pull-left">
									  			
												   		<label class="radio-inline active"><input type="radio" id="speedradio" value="0" checked>24 Hr</label>
												   	</div>
												   	<div class="pull-right">
														<label class="radio-inline"><input type="radio" id="rushradio" value="20"><span class="glyphicon glyphicon-flash"></span> 6 Hr <strong>($20)</strong></label>
													</div>
									  			</div>
											</div>
										</div>

										<div class="form-group col-md-6">
											<div style="margin-bottom:0px;" class="panel panel-default">
												<div class="map-tip">
														Report Type
													</div>
									  			<div class="panel-body">
									  				<div class="pull-left">
												   		<label class="radio-inline active"><input type="radio" id="ESXradio" checked="">ESX</label>
												   	</div>
												   	<div class="pull-right">
														<label class="radio-inline"><input type="radio" id="PDFradio">ESX+PDF <strong>($5)</strong></label>
													</div>
									 			 </div>
											</div>
										</div>
									</div>

									<div style="margin-top:0px;" class="row">
										<div class="form-group col-md-7">
											<label class="plain">Insured Name</label>
											<input type="text" class="form-control plain" id="i_name"/>
										</div>
										<div class="form-group col-md-5">
											<label class="plain">Xactimate Ver.</label>
											<select id="xvers" class="form-control">
											<option disabled="disabled" value="" selected="selected">Select</option>
											  <option value="27.3">27.3</option>
											  <option value="27.5">27.5</option>
											  <option value="28">28</option>
											 
											  
											</select>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-6">
												<label class="plain">Bldg. Type</label>
												<select id="bldg_type" class="form-control">
												<option disabled="disabled" value="" selected="selected">Select</option>
												  <option value="residential">Residential</option>
												  <option value="commercial">Commercial</option>
											
												  
												</select>
											</div>
											<div class="form-group col-md-3">
												<label class="plain">Facets</label>
												<select id="facets" class="form-control">
												
												  <option value="0">0-20</option>
												  <option value="5.00">21-40 ($5)</option>
												  <option value="10.00">41-60 ($10)</option>
												  <option value="15.00">61+ ($15)</option>
												  
												</select>
											</div>
											
											<div class="form-group col-md-3">
												<label class="plain">Pitch</label>
												<input type="text" class="form-control plain" id="pitch"/>
											</div>
									</div>
									<div class="row">
									<div class="form-group col-md-12">
										  <label for="comment">Comments:</label>
										  <textarea class="form-control" rows="5" id="diag_comment"></textarea>
										</div>
									</div>
									<div class="row">
								
								<div style="text-align:center;" class="col-md-12">	
									<button type="button" id="addOrder" class="btn-lg btn-success"><span style="font-size:x-large;">Add Diagram to Order <i class="fa fa-external-link-square"></i></span></button>	
								</div>
							</div>
							
											</div>
								
									<!--     end main panel -->

										
										</div>
						</div>
					<!--</form>-->
				</div>
				<div style="">
					<div class="col-md-2">
					{{#if getDiscountMsg}}
						<div style="border:2px solid #cb4844; margin-bottom:10px; padding:5px; color:#cb4844;">
							<span style="font-size:large;">{{getDiscountMsg}} <i class="fa fa-tag"></i></span>
						</div>
					{{/if}}
					<div class="panel panel-info">
							<div style="padding:5px; text-align:center;" class="panel-heading">
								<span style="color:#fff; font-size:large; ">Order Details</span>
							</div>
							<div class="panel-body">
							<div class="panel panel-default">
							  <div class="panel-body">
							    <div style="float:left;">Total: ${{grand_total}}</div>

							  </div>
							</div>
							<div class="text-center"><button type="button" id="place-order" class="btn-lg btn-danger">Place Order</button></div>
							
							</div>
							<ul class="list-group">
							{{#if diagramData}}
									{{#each diagramData}}
										{{#each diagram}}
							    <li class="list-group-item">${{price}} - {{insName}} <div class="pull-right"><a id="delTempDiag" href="#"><i style="color:#cc453a;" class="fa fa-times-circle-o fa-border"></i>

									</a></div></li>
										{{/each}}
							   		{{/each}}
							{{/if}}
							  </ul>
							
							
							<div class="panel-footer">
								
							</div>
						</div>
						<div style="border: 2px solid #1d6bc3;" class="panel panel-default">
							<div class="panel-body">
							
							  <i class="fa fa-asterisk"></i>
							   Default diagrams include ESX files for easy use in Xactimate. ESX + PDF include the diagram, facet count with pitch of each facet, as well as the roof variables including the ridge, hip, perimeter measurements, and the waste factors.<br><br> <i class="fa fa-asterisk"></i> Residential diagrams include up to 2 outbuildings on the same property.
							</div>
							</div>
				</div>
			</div>
			</div>



		<!-- Modal -->
		<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myPostModalLabel">Map</h4>
		      </div>
		      <div class="modal-body">
		     
		        <button type="submit" class="btn btn-primary">Do Something</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		       
		      </div>
		     
		    </div>
		  </div>
		</div>
	
</template>